@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --ngjyrajeshile: #81bcba;
    --whiteText: #e6e6e6;
    --grihapur: #464646;
    --blueErret: #004e64;
    --blueSfond: #004e6477;
}

body {
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
}

* {
    font-family: 'Lato', sans-serif;
    /* border: 1px solid #333; */
}

/* fillon header */
header {
    background-image: url(../media/images/lake.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: -1;
    height: 100vh;
}


/* fillon navbar */
nav {
    display: flex;
    justify-content: space-evenly;
}

.logoimg {
    width: 200px;
}

.logoimg>img {
    width: 100%;
}

.navul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
    justify-content: space-between;
    width: 60%;
}


.navli {
    padding: 3px;
}

.navli>a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--whiteText);
    padding: 5px;
    font-size: 0.75rem;
}

/* 
mbaron navbar
*/

/* 
fillon hero */

.hero {
    padding: 100px 0;
}

.innerhero {
    background-color: var(--blueSfond);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}

.innerhero>h1 {
    display: block;
    margin: 4px;
}

.innerhero>* {
    text-align: center;
    color: var(--whiteText);
}

.innerhero>p {
    width: 60%;
}

.devider {
    width: 150px;
    height: 5px;
    background-color: var(--ngjyrajeshile);
}

.innerhero>a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--ngjyrajeshile);
    padding: 3px 30px;
    fill: var(--whiteText);
}

/* 
mbaron hero */
/* 
mbaron header
*/

section {
    padding: 50px 0;
}

.contact__info {
    padding: 50px;
    position: relative;
    background-color: white;
}

.infoheadingspan {
    font-weight: 200;
}

.infoheading {
    padding-left: 20px;
    text-transform: uppercase;
}

.contact__div {
    display: flex;
    position: relative;

}


.contact__text {
    width: 60%;
    padding: 20px;
}

.contact__details {
    width: 40%;
    padding: 20px;
}

.contact__details svg {
    fill: var(--ngjyrajeshile);
}

/* .contact__details>p:nth-child(2),.contact__details>p:last-child */
/* .contact__details>p:not(:first-child)  */

.contact__details>p:nth-child(2),
.contact__details>p:last-child {
    display: flex;
    align-items: center;
}

.contact__img {
    position: absolute;
    width: 250px;
    height: 250px;
    right: -98px;
    top: -80px;
    z-index: -1;
    overflow: hidden;
}

.contact__img>img {
    width: 100%;
}

/* mbaron contact */
/* fillon reviews */



.reviewsecion {
    display: flex;
}

.reviewimg {
    width: 30%;
    overflow: hidden;

}

.reviewimg>img {
    width: 100%;
}

.reviewrows {
    display: flex;
    flex-direction: column;
    width: 70%;
}



.review__row:first-child>p:first-child {
    background-color: var(--blueErret);
    color: antiquewhite;
}

.review__row:first-child>p:last-child {
    background-color: var(--whiteText);
}

.review__row:last-child>p {
    background-color: var(--ngjyrajeshile);
}

.review__row {
    display: flex;
}

.review__row>p {
    padding: 50px;
    margin: 0;
}

/* mbaron review */

/* fillon faqs */
.sectionbg {
    background-image: url(../media/images/lake1.webp);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /* height: 50vh; */
}

.faqs__section {
    background-color: #004e6499;
    display: flex;
}

.faqs {
    width: 50%;
    padding: 50px;
}

.faq>h2 {
    color: white;
}

.faq>p {
    color: rgb(220, 220, 220);
}

.faqdevider {
    width: 200px;
    height: 3px;
    background-color: var(--ngjyrajeshile);
}

.form {
    margin-top: 50px;
    position: relative;
    width: 40%;

}

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 35px;
    background-color: var(--whiteText);
}

form>* {
    margin: 5px 0;
}

form>input,
form>textarea {
    width: 100%;
}


.btn {
    padding: 10px 45px;
    background-color: var(--ngjyrajeshile);
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

/* mbaron faqs */
/* fillon staff */
.staffsection {}

.staffcards {
    display: flex;
    justify-content: space-between;
}

.staffcard {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardimg {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;

}

.cardimg>img {
    width: 100%;
}


/* mbaron staff
 */


/* fillon footer */
footer {
    padding: 50px 0;
    background-color: var(--blueErret);
}

.footersection {
    color: #e6e6e6;
    display: flex;
    justify-content: space-between;
}

.footercolumn {
    width: 30%;
}

.footercolumn>ul {
    list-style-type: none;
}

.socialicos {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 15px 0;
}

.socialicon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--ngjyrajeshile);
}

.socialicon>svg {
    width: 25px;
    height: 25px;
    fill: var(--blueErret);
}

.footerlogo {
    width: 100%;
}

.footerlogo>img {
    width: 100%;
}

/* mbaron footer */